.FooterDesktop {
    padding: 2rem 0;

    @include xy-grid(horizontal, false);
    @include xy-gutters($gutter-position: top bottom);

    &-contact {
        text-align: center;

        @include xy-cell(50%);

        /* OVERRIDE */
        .ob-title {
            font-size: 200%;

            &.isPrimary {
                margin-bottom: 1rem;

                &:before {
                    display: none;
                }
            }
        }

        /* OVERRIDE */
        .ob-link {
            margin: 0;
            font-size: 3rem;
            @include hoverDashesEffect();
        }
    }

    &-misc {
        align-self: center;
        text-align: center;
        font-size: 0.8rem;

        @include xy-cell(50%);
    }
}
