.FooterDesktop {
    padding: 1rem 0;

    @include xy-grid(horizontal, false);
    @include xy-gutters($gutter-position: top bottom);

    &-contact {
        text-align: center;

        @include xy-cell(50%);
        @include xy-grid(vertical, false);

        /* OVERRIDE */
        .ob-title {
            font-size: 200%;

            &.isPrimary {
                margin-bottom: 1rem;

                &:before {
                    display: none;
                }
            }
        }

        & > div {
            align-self: center;
            @include xy-grid(vertical, false);
            text-align: left;
            /* OVERRIDE */
            .ob-link {
                margin: 0 5px;

                svg {
                    position: relative;
                    top: 0.5rem;
                    font-size: 2rem;
                    margin-right: 10px;
                }
            }
        }
    }

    &-misc {
        align-self: center;
        text-align: center;
        font-size: 0.8rem;

        @include xy-cell(50%);
    }
}
