@import "../variables/design.scss";

.button {
	position: relative !important;
}

.button.light {
	z-index: 0;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s all ease;
	color: $dark;
	border-color: $dark !important;
	background: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	&:before {
		-webkit-transition: 0.3s all ease;
		transition: 0.3s all ease;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
		content: "";
		background-color: $dark;
		z-index: -2;
	}
	&:hover {
		color: $light;
		border-color: $dark !important;
		&:before {
			-webkit-transition: 0.3s all ease;
			transition: 0.3s all ease;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 1;
		}
	}
	&:focus {
		color: $light;
		border-color: $dark !important;
		&:before {
			transition: 0.3s all ease;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 1;
		}
	}
}

.button.dark {
	z-index: 0;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s all ease;
	color: $color;
	border-color: $color !important;
	background: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	&:before {
		-webkit-transition: 0.3s all ease;
		transition: 0.3s all ease;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
		content: "";
		background-color: $color;
		z-index: -2;
	}
	&:hover {
		color: $dark;
		border-color: $color !important;
		&:before {
			-webkit-transition: 0.3s all ease;
			transition: 0.3s all ease;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 1;
		}
	}
	&:focus {
		color: $dark;
		border-color: $color !important;
		&:before {
			transition: 0.3s all ease;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			opacity: 1;
		}
	}
}
