@import "../variables/design.scss";

.mii-footer {
	padding: 0 0 3rem 0 !important;

	.level-item {
		padding-top: 0.5rem;
		width: calc(100% * (1 / 3));
	}

	.mii-svg-block {
		position: relative;
		margin-top: 0px;
		display: flex;
		justify-content: center;
		fill: $light;

		.mii-svg {
			.overflow {
				fill: $color;
			}
		}

		.mii-up {
			position: absolute;

			a {
				color: $color;
				transition: color 0.3s ease;

				&:hover {
					color: $dark;
				}

				&:focus {
					color: $dark;
				}
			}
		}
	}

	.mii-title {
		padding-top: 0.5rem;
		font-size: 1.2rem;
		font-family: "Montserrat", sans-serif;
		font-weight: 900;
		text-transform: uppercase;
	}

	.mii-social {
		a {
			margin: 0 10px 0 10px;
			text-decoration: none;

			font-size: 2rem;

			&::before {
				margin-right: 5px;
				font-weight: 900;
				content: "- ";
				-webkit-transform: translateX(20px);
				-moz-transform: translateX(20px);
				transform: translateX(20px);
			}
			&::after {
				margin-left: 5px;
				font-weight: 900;
				content: " -";
				-webkit-transform: translateX(-20px);
				-moz-transform: translateX(-20px);
				transform: translateX(-20px);
			}

			&::before,
			&::after {
				display: inline-block;
				opacity: 0;
				-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
				-moz-transition: -moz-transform 0.3s, opacity 0.2s;
				transition: transform 0.3s, opacity 0.2s;
			}

			&:hover {
				&::before,
				&::after {
					display: inline-block;
					opacity: 1;
					-webkit-transform: translateX(0px);
					-moz-transform: translateX(0px);
					transform: translateX(0px);
				}
			}

			&:focus {
				&::before,
				&::after {
					display: inline-block;
					opacity: 1;
					-webkit-transform: translateX(0px);
					-moz-transform: translateX(0px);
					transform: translateX(0px);
				}
			}
		}
	}

	.mii-home {
		margin-right: auto;

		p {
			width: 100%;
			.home {
				font-family: "Montserrat", sans-serif;
				font-weight: 700;
				letter-spacing: 2px;
				text-decoration: none;
			}
		}
	}

	.mii-cc {
		p {
			width: 100%;
		}
	}
}
