.Site {
    .Topic {
        @include xy-grid(vertical, false);
        @include breakpoint(medium) {
            padding: 3rem 0 3rem 0;
        }

        &-remarks {
            text-align: justify;
            @include xy-gutters($gutter-position: bottom);
        }

        &-github {
            align-self: flex-end;
            @include xy-gutters($gutter-position: top);
        }
    }
}
