.TimelineTouch {
	@include breakpoint(medium) {
		margin: 0 auto;
	}

	> li {
		position: relative;
		list-style-type: none;
		width: 3px;
		padding-top: 50px;
		background: color-map(theme, primary);

		&:last-child {
			width: 0;
		}

		&:after {
			transform: translateX(-50%);
			left: 50%;
			top: 0;
			position: absolute;
			content: "";
			border-radius: 50%;
			width: 15px;
			height: 15px;
			border: 3px solid color-map(theme, primary);
			background: color-map(background, darker);
		}

		> div {
			position: relative;
			width: 270px;
			height: auto;
			padding: 10px;
			color: color-map(text);
			border: 1px solid color-map(theme, primary);
			background-color: color-map(background, darker);
			top: -55px;

			left: 40px;

			@include breakpoint(small only) {
				width: calc(100vw - 90px);
				left: 35px;
			}

			&:before {
				position: absolute;
				content: "";
				left: -16px;
				top: 4px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 16px 8px 0px;
				border-color: transparent color-map(theme, primary) transparent
					transparent;
			}

			.Date {
				margin-bottom: 10px;
				font-family: "Montserrat", sans-serif;
				.Date-container {
					font-weight: 700;
					transform: rotate(3deg);
					text-align: center;
					width: 100px;
					border: 1px solid color-map(theme, primary);
					background-color: color-map(theme, primary);
					&.onCover {
						transform: rotate(-3deg);
						border: 1px solid color-map(theme, primary);
						background-color: color-map(background, darker);
					}
				}
			}
		}

		@include breakpoint(medium) {
			&:nth-child(even) {
				> div {
					left: -306px;

					&:before {
						position: absolute;
						content: "";
						left: 269px;
						border-width: 8px 0px 8px 16px;
						border-color: transparent transparent transparent
							color-map(theme, primary);
					}

					.Date-container {
						transform: rotate(-3deg);

						&.onCover {
							transform: rotate(3deg);
						}
					}
				}
			}
		}
	}
}
