.PortfolioBanner {
	background-color: #000000 !important;
	background-image: url("https://www.transparenttextures.com/patterns/noisy-grid.png");

	&.isWrapper {
		padding-top: 64px;
		padding-bottom: 3rem;
	}

	&-container {
		display: flex;
		justify-content: right;
		align-content: center;
	}

	&-content {
		padding: 20px;
		margin-top: 3rem;
		background-color: hsla(202, 100%, 11%, 0.75);

		.ob-title {
			text-align: right;

			&.isPrimary {
				&::before {
					right: 0;
				}
			}
		}
	}
}
