.Projects {
    /* Override */
    &.isWrapper {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .Projects-list {
        @include breakpoint(xlarge) {
            @include xy-grid(vertical);
        }
        @include breakpoint(large down) {
            @include xy-grid(horizontal, true);
        }
        list-style-type: none;
    }
}

@include breakpoint(xlarge) {
    .Loader {
        margin: 1rem 0;
        .Project {
            overflow: hidden;
            position: relative;
            background-position: center;
            background-size: cover;
            min-height: 350px;
            border: 1px solid color-map(text);

            .Link {
                text-decoration: none;
                color: color-map(text);

                .Diamond {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    padding: 0 0.9375rem;
                    background-color: rgba(0, 12, 20, 0.9);
                    transition: all 0.3s ease-out;
                    width: 40%;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        top: 50%;
                        right: -100px;
                        border-left: 100px solid rgba(0, 12, 20, 0.9);
                        border-bottom: 174px solid rgba(0, 12, 20, 0);
                    }

                    &-sibling {
                        &::before {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            bottom: 50%;
                            right: -100px;
                            border-left: 100px solid rgba(0, 12, 20, 0.9);
                            border-top: 174px solid rgba(0, 12, 20, 0);
                        }
                    }
                    .Content {
                        position: absolute;
                        top: 50%;
                        left: 4%;
                        z-index: 1;
                        transform: translateY(-50%);
                        width: 400px;

                        .Title {
                            display: block;
                            font-size: 180%;
                        }
                    }
                }
                &:hover {
                    .Diamond {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include breakpoint(large down) {
    .Loader {
        width: calc(50% - 1.875rem);
        margin: 1rem 0.9375rem;

        @include breakpoint(medium down) {
            width: calc(100% - 1.875rem);
            margin: 1rem 0.9375rem;
        }

        .Project {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 260px;
            background-size: cover;
            background-position: center;
            border: 1px solid color-map(text);

            @include breakpoint(small only) {
                min-height: 180px;
            }

            .Link {
                height: 100%;
                padding: 20px;
                color: color-map(text);
                background-color: rgba(0, 12, 20, 0.9);
            }
        }
    }
}
