@import "bulma/sass/utilities/mixins.sass";
@import "./variables/design.scss";

.mii-about {
	.mii-entry {
		box-sizing: border-box;
		position: relative;
		padding: 0 110px 4rem 110px;
		line-height: 1.5em;

		@include touch {
			padding: 0 0 1rem 0;
		}
	}
}
