@import "./variables/design.scss";

.mii-about {
	.mii-separator {
		display: block;
		border: none;
		height: 1px;
		background: -webkit-gradient(
			radial,
			50% 50%,
			0,
			50% 50%,
			350,
			from($dark),
			to($light)
		);
	}

	.mii-about-prepost {
		box-sizing: border-box;
		position: relative;
		padding: 0 20px 6rem 110px;
		font-size: 16px;
		line-height: 1.5em;

		&:before {
			position: absolute;
			font-family: "FontAwesome";
			content: "\f10d";
			font-size: 60px;
			font-style: normal;
			color: $color;
			top: 1rem;
			left: 25px;
		}
	}
}
