.about-here {
  padding: 62px 0 !important;
  color: #4a4a4a;
  background-color: white; }
  .about-here .title {
    text-transform: uppercase;
    letter-spacing: 2px; }
  .about-here .made-with-love {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5rem; }
    .about-here .made-with-love a {
      color: inherit; }
    .about-here .made-with-love .fa-plus {
      margin: 0 30px;
      align-self: center; }
    .about-here .made-with-love img {
      height: 5em;
      filter: brightness(0.45) grayscale(1); }
