.about-me {
    padding: 62px 0 !important;
    color: #4a4a4a;
    background-color: white;
  
    .title {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  
    .content {
      margin-bottom: 48px;
  
      &:last-of-type {
        margin-bottom: 0;
      }
  
      .likes {
        margin: 0;
      }
  
      ul {
        list-style: none;
  
        li {
          &:before {
            content: "\279C";
            padding-right: 10px;
          }
        }
      }
    }
  
    .subtitle {
      letter-spacing: 2px;
    }
  }