@import "./variables/fonts.scss";
@import "./variables/colors.scss";

.about-here {
	padding: 62px 0 !important;
	color: $biskaya_blue !important;
	font-family: "Oxygen", sans-serif;
	font-size: 1.2rem;

	.title {
		color: $biskaya_blue !important;
		font-family: "Montserrat", sans-serif;
		font-weight: 900 !important;
		text-transform: uppercase;
	}

	.button {
		position: relative;
		width: 30%;
		margin: 20px 35%;
	}
}
