@import "./variables/design.scss";

.mii-about-here {
	font-size: 1.2rem;

	.mii-title {
		font-size: 1.75rem;
		font-family: "Montserrat", sans-serif;
		font-weight: 900 !important;
		text-transform: uppercase;
	}

	.button {
		position: relative;
		width: 30%;
		margin: 20px 35%;
	}
}
