.small_banner {
  position: relative;
  background-size: cover;
  background-position-y: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .small_banner .banner_intro {
    padding: 20px 0 20px 0;
    text-shadow: 0px 0px 10px black; }
    .small_banner .banner_intro h1 {
      letter-spacing: 2px; }
