@import "./variables/fonts.scss";
@import "./variables/colors.scss";

.small_banner {
	position: relative;
	background-size: cover;
	background-position-y: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.banner_intro {
		padding: 0 0 2rem 0;
		text-shadow: 0px 0px 10px black;

		p {
			font-family: "Oxygen", sans-serif;
			font-size: 1.5rem !important;
			margin-bottom: 0.5rem;
		}

		h1 {
			font-family: "Montserrat", sans-serif;
			font-weight: 900 !important;
			letter-spacing: 2px;
		}
		.mii-social {
			padding-bottom: 0.5rem;
			justify-content: left;
			a {
				margin: 0 10px 0 10px;
				text-decoration: none;
				color: $white_pearl;
				transition: color 0.3s ease;

				font-size: 2rem;

				&::before {
					margin-right: 5px;
					font-weight: 900;
					content: "-  ";
					-webkit-transform: translateX(20px);
					-moz-transform: translateX(20px);
					transform: translateX(20px);
				}
				&::after {
					margin-left: 5px;
					font-weight: 900;
					content: "  -";
					-webkit-transform: translateX(-20px);
					-moz-transform: translateX(-20px);
					transform: translateX(-20px);
				}

				&::before,
				&::after {
					display: inline-block;
					opacity: 0;
					-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
					-moz-transition: -moz-transform 0.3s, opacity 0.2s;
					transition: transform 0.3s, opacity 0.2s;
				}

				&:hover {
					&::before,
					&::after {
						display: inline-block;
						opacity: 1;
						-webkit-transform: translateX(0px);
						-moz-transform: translateX(0px);
						transform: translateX(0px);
					}
				}

				&:focus {
					&::before,
					&::after {
						display: inline-block;
						opacity: 1;
						-webkit-transform: translateX(0px);
						-moz-transform: translateX(0px);
						transform: translateX(0px);
					}
				}
			}
		}
	}
}
