@import "bulma/sass/utilities/mixins.sass";

.mii-cv-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	@include from($desktop) {
	}

	@include touch {
		flex-direction: column;
	}

	// Btn case specific for 2 to n buttons
	// see AboutSite style for only one
	.mii-btn-case {
		display: flex;
		width: 45%; // It defines children's button size
		margin: 10px auto;

		@include mobile {
			width: 280px;
		}

		@include tablet-only {
			width: 50%;
		}

		.button {
			width: 100%; // Full Width from Parent Case
		}
	}
}
