@import "./variables/fonts.scss";
@import "./variables/colors.scss";
.mii-contact {
	font-family: "Oxygen", sans-serif;
	color: $teal;
	padding: 0 0 4rem 0 !important;

	.mii-svg-block {
		margin-top: 0px;
		display: flex;
		justify-content: center;
		fill: $white_pearl;

		.overflow {
			fill: $teal;
		}
	}

	.mii-top {
		.outro {
			font-size: 1.5rem;
			padding-left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.links {
			margin: auto 0;
			padding-right: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			.button {
				width: 45%;
			}
		}
	}

	.mii-bottom {
		padding-top: 2rem;
		height: 62px;

		.level-left {
			.home {
				font-family: "Montserrat", sans-serif;
				font-weight: 700;
				letter-spacing: 2px;
				text-decoration: none;
			}
		}

		.level-right {
			a {
				color: $teal;

				&:hover {
					color: $white_pearl;
				}

				&:focus,
				&:active {
					outline-color: $teal;
				}
			}
		}
	}
}
