.header {
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px; }
  .header .level {
    margin: 0 20px; }
    .header .level a {
      text-decoration: none;
      color: white; }
      .header .level a::before {
        margin-right: 5px;
        font-weight: 900;
        content: "- ";
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px); }
      .header .level a::after {
        margin-left: 5px;
        font-weight: 900;
        content: " -";
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px); }
      .header .level a::before, .header .level a::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s; }
      .header .level a:hover::before, .header .level a:hover::after {
        display: inline-block;
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px); }
      .header .level a:focus::before, .header .level a:focus::after {
        display: inline-block;
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px); }
    .header .level .level-left {
      font-size: 16px; }
    .header .level .level-right p {
      text-transform: uppercase;
      margin: 0 0 0 40px; }
