@import "./variables/design.scss";
@import "./variables/effects.scss";

@mixin header-background {
	background: -moz-linear-gradient(
		top,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -webkit-linear-gradient(
		top,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
}

.mii-header {
	position: absolute !important;
	z-index: 1;
	width: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 48px;
	line-height: 48px;
	background-color: unset !important;
	@include header-background();
	.level {
		margin: 0 auto;
		a {
			text-decoration: none;
			text-shadow: 0px 0px 5px black;

			@include hoverDashesEffect();
		}

		.level-left {
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		.level-right {
			p {
				font-weight: 300;
				letter-spacing: 1px;
				margin: 0 0 0 40px;
			}
		}
	}
}
