@charset "UTF-8";

@import "bulma";
@import "bulma/sass/utilities/mixins.sass";
@import "./variables/design.scss";
@import "./variables/variables.scss";

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	scroll-behavior: smooth;

	@extend .mii-dark;

	font-family: "Hind", sans-serif;

	/* COLOR CONFIGURATIONS
	 */

	.mii-light {
		color: $dark;
		background-color: $light;
	}

	.mii-dark {
		color: $light;
		background-color: $dark;
		background-image: url("https://www.transparenttextures.com/patterns/ice-age.png");
		background-attachment: fixed;
	}

	/* DIV & SECTION PRE-FORMATTING
	 */

	/* The section is unique */
	.mii-section {
		padding-top: 9rem;
		padding-bottom: 9rem;

		@include mobile {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}

	/* The section contains several mini sections */
	.mii-min-section {
		padding-top: 9rem;
		padding-bottom: 9rem;

		margin-top: 0 !important;
		margin-bottom: 0 !important;

		@include mobile {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}

	/* The section contains SVG/CSS shape dividers */
	/* Don't forget to remove traditionnal mii-sections that could create conflicts */
	.mii-svg-separator {
		display: flex; // It removes the extra margin not accessible via the css margin parameter
		height: 9rem !important;

		padding: 0;

		@include mobile {
			height: 110px !important;
		}
	}

	/* COMMON ELEMENT PRE-CONFIGS
	 */

	.mii-title {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		font-family: "Montserrat", sans-serif;
		font-weight: 700 !important;

		@include mobile {
			font-size: 1.75rem;
		}
	}

	.mii-subtitle {
		font-size: 1.75rem;
		margin-bottom: 2rem;
	}

	.mii-dialog {
		font-size: 1.5rem;
		line-height: 2rem;
		margin: 1.5rem 0 !important;

		@include mobile {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}

	.mii-text {
		font-size: 1.5rem;
		line-height: 2rem;

		@include mobile {
			font-size: 1rem;
		}
	}

	.mii-link {
		color: inherit;
		transition: color 0.3s ease !important;

		&:hover,
		&:focus {
			color: $color !important;
		}
	}

	/* BULMA ELEMENTS OVERRIDES
	 * bulma.io
	 */

	.columns {
		margin: 0 !important;
		padding: 0 !important;

		&:last-child {
			margin: 0 !important;
		}
	}

	.container {
		@include tablet-only {
			margin: 0 $tablet-gap;
			width: calc(100% - (2 *#{$tablet-gap}));
		}

		@include mobile {
			margin: 0 $mobile-gap;
			width: calc(100% - (2 *#{$mobile-gap}));
		}
	}
}
