@charset "UTF-8";

@import "./variables/design.scss";

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	scroll-behavior: smooth;

	@extend .mii-light;

	font-family: "Oxygen", sans-serif;
}

/* COLOR CONFIGURATIONS
 */

.mii-light {
	color: $dark;
	background-color: $light;
}

.mii-dark {
	color: $light;
	background-color: $dark;
}

/* DIV & SECTION PRE-FORMATTING
 */

/* The section is unique */
.mii-section {
	padding-top: 6rem;
	padding-bottom: 6rem;

	padding-left: 0;
	padding-right: 0;
}

/* The section contains several mini sections */
.mii-min-section {
	padding-top: 6rem;
	padding-bottom: 6rem;

	padding-left: 0 !important;
	padding-right: 0 !important;

	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

/* ELEMENT PRE-CONFIGS
 */

.mii-link {
	color: inherit;
	transition: color 0.3s ease !important;

	&:hover,
	&:focus {
		color: $color !important;
	}
}

/* BULMA ELEMENTS OVERRIDES
 * bulma.io
 */

.columns {
	margin: 0 !important;
	padding: 0 !important;

	&:last-child {
		margin: 0 !important;
	}
}
