@import "./variables/fonts.scss";
@import url("./fonts/chawpwebfont.css");

.mii-intro {
	background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
	.mii-self-pic {
		width: 192px;
	}

	.mii-quote {
		margin: auto 0 auto 1.5rem;
		font-family: "Indie Flower", cursive;
		// text-transform: uppercase;
		color: rgba(256, 256, 256, 0.5);
		font-size: 1.5rem !important;
		q {
			font-size: 2.5rem !important;
		}
		p {
			padding-top: 3rem;
		}
	}
}
