.intro {
    padding: 62px 0 !important;
  
    .image {
      width: 192px;
  
      .mii {
        border-radius: 50%;
      }
    }
  
    .quote {
      margin: auto 0;
      q {
        font-weight: 700;
      }
    }
  }