@import "bulma/sass/utilities/mixins.sass";
@import "./variables/design.scss";

.mii-likes-master {
	.mii-svg-separator {
		fill: $color;

		.overflow {
			fill: $light;
		}
	}
}

@include desktop {
	.mii-likes {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 1.5rem;

		.mii-box {
			border-radius: calc(1 / 2);
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: $light;
			background-color: unset;
			height: 210px;
			overflow: hidden;
			text-align: center;
			border: 1px solid $light;

			.mii-box-img {
				position: absolute;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				transition: 0.5s all ease;
				background-size: cover;
				width: 100%;
				top: 50%;
				margin: auto;
				z-index: 1;
				filter: grayscale(1);
			}

			.mii-box-span {
				padding: 0 20px 0 20px;
			}

			&:hover {
				.mii-box-img {
					top: 200%;
				}
			}
		}

		.mii-box.start {
			color: $light;
			background: none;
			box-shadow: none;
			border: 1px solid $light;

			// Element Specific Override
			&.mii-title {
				margin-bottom: 0;
			}
		}
	}

	@include desktop-only {
		.mii-likes {
			.mii-box {
				max-height: 170px;
			}
		}
	}

	@include fullhd {
		.mii-likes {
			.mii-box {
				max-height: 240px;
			}
		}
	}
}
@include touch {
	.mii-likes {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 1.5rem;

		@include mobile {
			grid-template-columns: repeat(1, 1fr);
		}

		.mii-box {
			position: relative;
			display: flex;
			color: $light;
			background-color: $dark;
			height: 170px;
			overflow: hidden;
			border: 1px solid $light;

			@media screen and (max-width: 496px) {
				max-height: 140px;
			}

			&:nth-child(2n) {
				text-align: right;

				@include mobile {
					text-align: center;
				}
			}

			&:nth-child(2n + 1) {
				text-align: left;

				@include mobile {
					text-align: center;
				}
			}

			.mii-box-img {
				position: absolute;
				transform: translateY(-50%);
				top: 50%;
				width: 100%;
				filter: grayscale(1);
			}

			.mii-box-span {
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				width: 100%;
				height: 100%;
				padding: 20px 20px 20px 20px;
				background-color: rgba(14, 20, 40, 0.5);

				@include mobile {
					justify-content: center;
				}
			}
		}
		.mii-box.start {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			color: $light;
			background: none;
			box-shadow: none;
			padding: 20px 20px;
			border: 1px solid $light;

			@include mobile {
				justify-content: center;
			}

			// Element Specific Override
			&.mii-title {
				margin-bottom: 0;
			}
		}
	}
}
