@import "./variables/design.scss";

.mii-mobility {
	background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");

	.mii-svg-block {
		margin-top: 0px;
		display: flex;
		justify-content: center;
		fill: $color;

		&:last-child {
		}

		.overflow {
			fill: $light;
		}
	}
	.map-responsive {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;

		.iframe {
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			position: absolute;
		}
	}

	.mii-desc {
		font-size: 1.4rem;
		margin: auto 0;

		p {
			margin-bottom: 2rem;

			&:last-child {
				font-weight: 700;
				margin-bottom: 0;
			}
		}
	}
}
