@import "bulma/sass/utilities/mixins.sass";
@import "./variables/design.scss";

.mii-mobility {
	background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");

	.mii-svg-separator {
		fill: $color;
		.overflow {
			fill: $light;
		}
	}
	.map-responsive {
		overflow: hidden;
		padding: 0 110px 480px 110px;
		position: relative;
		height: 0;

		@include touch {
			padding: 0 0 480px 0;
		}

		.iframe {
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			position: absolute;
		}
	}

	.mii-desc {
		font-size: 1.4rem;
		margin: auto 0;

		p {
			margin-bottom: 2rem;

			&:last-child {
				font-weight: 700;
				margin-bottom: 0;
			}
		}
	}
}
