@import "./variables/colors.scss";
@import "./variables/fonts.scss";

.title {
	color: $biskaya_blue !important;
	font-family: "Montserrat", sans-serif;
	font-weight: 900 !important;
	text-transform: uppercase;
}

.mii-soft-skills {
	list-style: none !important;
	counter-reset: mii-counter;

	li {
		position: relative;
		z-index: 0;
		counter-increment: mii-counter;
		font-family: "Montserrat", cursive;
		font-weight: 900;
		font-size: 1.5rem;
		margin: 0.5rem 0 0.8rem 40px;

		&::before {
			position: absolute;
			z-index: -1;
			left: -40px;
			top: -30px;
			content: "0" counter(mii-counter);
			font-family: "Montserrat", sans-serif;
			font-size: 4rem;
			margin-right: 0.2rem;
			opacity: 0.3;
			line-height: 1;
			color: $dark_teal;
		}
	}
}
