@import "bulma/sass/utilities/mixins.sass";
@import "./variables/design.scss";

.mii-case {
	.mii-soft-skills {
		list-style: none !important;
		counter-reset: mii-counter;

		li {
			position: relative;
			z-index: 0;
			counter-increment: mii-counter;
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
			text-shadow: 2px 0 0 $light, -2px 0 0 $light, 0 2px 0 $light,
				0 -2px 0 $light, 1px 1px $light, -1px -1px 0 $light,
				1px -1px 0 $light, -1px 1px 0 $light;
			font-size: 1.5rem;
			margin: 1rem 0 0.8rem 0;

			&::before {
				font-weight: 900;
				position: absolute;
				z-index: -1;
				left: 20%;
				top: -30px;
				content: "0" counter(mii-counter);
				font-family: "Montserrat", sans-serif;
				font-size: 4rem;
				margin-right: 0.2rem;
				opacity: 0.8;
				line-height: 1;
				color: $color;
			}
		}
	}
}
