.AbstractBanner {
	position: relative;
	padding-top: 64px;

	&-container {
		position: fixed;
		right: 0;
		left: 0;
		margin: 0 auto;
		height: calc(100% - 64px);

		@include breakpoint(medium) {
			@include xy-grid(horizontal, false);
		}

		@include breakpoint(small only) {
			@include xy-grid(vertical, false);
		}
	}

	&-blaze {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		@include breakpoint(medium) {
			width: 30%;
			@include xy-cell-base(4);
		}
		@include breakpoint(small only) {
			width: 100%;
			@include xy-cell-base(grow);
		}
	}

	&-title {
		justify-content: center;

		@include breakpoint(medium) {
			padding-left: 3rem !important;
			@include xy-cell-base(auto);
		}
		@include breakpoint(small only) {
			@include xy-cell-base(full);
			text-align: center;
		}

		.Title {
			font-size: 3rem;
			font-family: "Montserrat", sans-serif;
			font-weight: 700 !important;
			opacity: 0.6;

			@include breakpoint(medium only) {
				font-size: 2.5rem;
				margin-bottom: 1rem;
			}

			@include breakpoint(small only) {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}
		}

		.Subtitle {
			font-family: "Montserrat", sans-serif;
			font-size: 1.3rem;
			opacity: 0.6;

			@include breakpoint(medium down) {
				font-size: 1rem;
				margin-bottom: 2rem;
			}
		}
	}
}

/* MEDIA DEBUG PROPERTIES */

img {
	// width: 0 !important;
	// height: 0 !important;
	max-width: none !important;
	max-height: none !important;
}
