.Banner {
	position: relative;
	background-size: cover;
	background-position-y: 100%;
	background-attachment: scroll !important;
	padding-top: 64px;

	@include breakpoint(small only) {
		background-position-x: 50%;
	}

	&-container {
		height: 100%;
		padding-bottom: 2rem;

		@include breakpoint(large) {
			justify-content: flex-end;
		}

		@include breakpoint(medium down) {
			flex-direction: flex-start;
		}
	}
}
