.Button {
	position: relative;
	display: block;
	padding: 10px;
	border: 1px solid;
	min-width: 200px;

	@include breakpoint(medium) {
		padding: 10px;
		font-size: 120%;
		width: min-content;
	}
	@include breakpoint(small only) {
		padding: 15px;
		font-size: 100%;
		width: 100%;
	}

	z-index: 0;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s all ease;
	color: color-map(text);
	border-color: color-map(neutral, grey-50);
	background: none;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;

	&:before {
		-webkit-transition: 0.3s all ease;
		transition: 0.3s all ease;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
		content: "";
		background-color: color-map(theme, primary);
		z-index: -2;
	}
	&:hover {
		color: color-map(background, dark);
		border-color: color-map(theme, primary);
		&:before {
			-webkit-transition: 0.3s all ease;
			transition: 0.3s all ease;
			top: 0;
			opacity: 1;
		}
	}
	&:focus {
		color: color-map(background, dark);
		border-color: color-map(theme, primary);
		&:before {
			transition: 0.3s all ease;
			top: 0;
			opacity: 1;
		}
	}

	&.isAlt {
		color: color-map(theme, secondary);
		border-color: color-map(theme, secondary);
		&:before {
			background-color: color-map(theme, secondary);
		}
		&:hover {
			color: color-map(background, dark);
			border-color: color-map(theme, secondary);
		}
		&:focus {
			color: color-map(background, dark);
			border-color: color-map(theme, secondary);
		}
	}
}
