.Footer {
    &-rollback {
        @include xy-grid(horizontal, false);

        .Separator {
            margin: auto 1rem;

            display: block;
            border: none;
            height: 1px;
            background: -webkit-gradient(
                radial,
                50% 50%,
                0,
                50% 50%,
                350,
                from(color-map(text)),
                to(rgba(255, 255, 255, 0))
            );

            @include xy-cell(auto);
            @include xy-gutters($gutter-position: left right);
        }

        .ScrollToTop {
            padding-top: 1rem;
            text-align: center;

            @include xy-cell(shrink);
            @include xy-gutters($gutter-position: left right);

            a {
                color: color-map(text);
                transition: color 0.3s ease;
                &:hover {
                    color: color-map(theme, primary);
                }
                &:focus {
                    color: color-map(theme, primary);
                }
            }
        }
    }
}
