@mixin header-background {
	background: -moz-linear-gradient(
		top,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -webkit-linear-gradient(
		top,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
}

.Header {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 64px;
	line-height: 64px;
	// background-color: unset !important;
	// @include header-background();
	transition: all 0.5s ease-out;

	.Content {
		position: relative;
		z-index: 30;
		&-logo {
			margin: 0 0 0 10px;
			font-size: 1.2rem;
			font-family: "Montserrat", sans-serif;
			font-weight: 700;

			@include breakpoint(medium down) {
				text-align: right;
				margin: 0 20px 0 0;
			}
		}
	}
}
