.Hobbies {
	&-content {
		list-style: none;
		margin-top: 1.5rem;
		margin-left: 0;

		@include xy-grid(horizontal, true);
		.Hobby {
			margin-bottom: 1.5rem;

			@include breakpoint(large) {
				@include xy-cell(4);
			}

			@include breakpoint(medium down) {
				@include xy-cell(12);
			}

			svg {
				display: inline-block;
				align-self: center;
				margin-right: 20px;
				font-size: 2rem;
			}

			&-name {
				display: inline-block;
				word-wrap: break-word;
				margin-bottom: 0.5rem;
				font-family: font-map(title), sans-serif;
				font-size: 1.2rem;
				text-transform: capitalize;
			}

			&-keywords {
				margin: 0;
				list-style: none;

				li {
					padding: 0 5px;
					margin: 0 10px 5px 0;
					display: inline-block;
					background: linear-gradient(
						to bottom,
						rgba(255, 255, 255, 0.1) 0%,
						rgba(17, 17, 17, 0) 100%
					);
					background-color: var(--content-bg2);
					border: 1px solid var(--content-bg2);
					border-radius: 0.2rem;
				}
			}
		}
	}
}
