.PDF {
	margin: 3rem 0 0 0;
	background-size: cover;
	background-position-y: center;

	&-backgroundCover {
		width: 100%;
		height: 100%;
		background-color: rgba(17, 17, 17, 0.6);
	}

	.PDF-container {
		margin: 3rem auto;
		text-align: center;
		p {
			font-family: font-map(title), sans-serif;
			font-size: 1.2rem;
			font-style: italic;
		}

		/* Override */
		.ob-button {
			svg {
				margin-right: 20px;
			}
		}
	}
}
