@import "bulma/sass/utilities/mixins.sass";
@import "src/styles/variables/design.scss";

.mii-backdrop {
	display: none;
}

.mii-backdrop.open {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	@include desktop {
		display: none;
	}
}
