@import "bulma/sass/utilities/mixins.sass";
@import "src/styles/variables/design.scss";

.mii-sidebar {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(14, 20, 40, 0.8);

	transform: translateY(-120%);
	transition: transform 0.3s ease-out;

	@include from($desktop) {
		display: none;
	}

	.mii-nav-mobile {
		height: 360px;
		padding: 64px 64px 0 64px;
		display: flex;
		flex-direction: column;

		@include mobile {
			padding: 64px 36px 0 36px;
		}

		.mii-link {
			width: 40%;
			border-bottom: 1px solid $light;

			@include mobile {
				width: 100%;
				text-align: center;
			}
		}
	}
}

.mii-sidebar.open {
	transform: translateY(0);
}
