@import "bulma/sass/utilities/mixins.sass";
@import "src/styles/variables/effects.scss";

.mii-nav-desktop {
	.mii-nav {
		.mii-link {
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
			margin: 0 0 0 20px;

			&:hover,
			&:focus,
			&:active {
				color: unset !important;
			}

			&:first-child {
				margin-left: 0;
			}

			@include hoverDashesEffect();

			@include until($desktop + 1) {
				display: none;
			}
		}
	}
}
