/* PROJECT-MII FONTS
 * w/ GoogleFonts & FontAwesome
 */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Hind:300,700");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

@font-face {
	font-family: "chalk";
	src: url("https://tylermoeller.github.io/fccfe/tic-tac-toe/fonts/eraserdust-webfont.eot"),
		url("https://tylermoeller.github.io/fccfe/tic-tac-toe/fonts/eraserdust-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("https://tylermoeller.github.io/fccfe/tic-tac-toe/fonts/eraserdust-webfont.woff2")
			format("woff2"),
		url("https://tylermoeller.github.io/fccfe/tic-tac-toe/fonts/eraserdust-webfont.woff")
			format("woff"),
		url("https://tylermoeller.github.io/fccfe/tic-tac-toe/fonts/eraserdust-webfont.ttf")
			format("truetype"),
		url("https://tylermoeller.github.io/fccfe/tic-tac-toe/fonts/eraserdust-webfont.svg#eraserdust")
			format("svg");
	font-weight: bold;
}

/* PROJECT-MII COLORS
 * Generated by coolors.co
 */

/* WARM BLACK
 * rgba(0, 52, 68, 1)
 */
$dark: #003444;

/* JELLY BEAN
 * rgba(219, 80, 74, 1)
 */
$color: #db504a;

/* WHITE SMOKE
 * rgba(245, 245, 246, 1)
 */
$light: #f5f5f6;
