@import "bulma/sass/utilities/mixins.sass";
@import "root/styles/variables/variables.scss";
@import "root/styles/variables/design.scss";

.mii-abstract-banner {
	padding-top: 64px;
	.mii-abstract-banner-case {
		height: calc(100% - 64px);
		position: fixed;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		@include desktop {
			width: inherit;
		}

		@include tablet-only {
			width: calc(100% - (2 * #{$tablet-gap}));
		}
		@include mobile {
			width: calc(100% - (2 * #{$mobile-gap}));
		}

		.mii-media {
			height: 100%;
			width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		.mii-banner-title {
			font-size: 3rem;
			font-family: "Montserrat", sans-serif;
			font-weight: 700 !important;
			opacity: 0.8;

			@include tablet-only {
				font-size: 2.5rem;
				margin-bottom: 1rem;
			}

			@include mobile {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}
		}

		.mii-banner-subtitle {
			font-family: "Montserrat", sans-serif;
			font-size: 1.3rem;
			margin-bottom: 2rem;
			opacity: 0.8;

			@include touch {
				font-size: 1rem;
				margin-bottom: 2rem;
			}
		}
	}
}

/* MEDIA DEBUG PROPERTIES */

img {
	// width: 0 !important;
	// height: 0 !important;
	max-width: none !important;
	max-height: none !important;
}
