@import "root/styles/variables/design.scss";
@import "root/styles/variables/effects.scss";

.mii-footer-master {
	.mii-svg-wrapper {
		position: relative;
		margin-top: 0px;
		display: flex;
		justify-content: center;

		.mii-svg-separator {
			fill: $light;
			.overflow {
				fill: $color;
			}
		}

		.mii-up {
			position: absolute;

			a {
				color: $color;
				transition: color 0.3s ease;

				&:hover {
					color: $dark;
				}

				&:focus {
					color: $dark;
				}
			}
		}
	}
}
