@import "bulma/sass/utilities/mixins.sass";
@import "src/styles/variables/design.scss";
@import "src/styles/variables/effects.scss";

@mixin header-background {
	background: -moz-linear-gradient(
		top,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: -webkit-linear-gradient(
		top,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
}

.mii-header {
	position: fixed !important;
	z-index: 10;
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: unset !important;
	@include header-background();

	@include touch {
		height: 64px;
		line-height: 64px;
	}

	.mii-header-case {
		z-index: 20;
		display: flex;
		.mii-logo {
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-shadow: 0px 0px 5px black;

			@include until($desktop + 1) {
				margin: 0 20px 0 auto;
			}

			@include mobile {
				margin-right: 10px;
			}

			.mii-link {
				@include from($desktop) {
					@include hoverDashesEffect();
				}
			}
		}
		.mii-header-spacer {
			flex: 1;

			@include until($desktop + 1) {
				display: none;
			}
		}
	}
}
