@import "root/styles/variables/effects.scss";
@import "root/styles/variables/design.scss";

.mii-footer {
	// Override
	&.mii-section {
		padding: 0 0 2rem 0;
	}

	.mii-social {
		display: flex;
		flex-direction: row;
		.mii-case-cut {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			width: calc(100% * (1 / 2));

			margin-bottom: 0 !important;
		}
		// Override
		.mii-title {
			font-size: 1.75rem;
			margin-bottom: 1rem;
		}
		.mii-link {
			margin: 0 10px 0 10px;

			font-size: 3rem;

			@include hoverDashesEffect();
		}
		.button {
			width: 100%;
		}
	}

	.mii-separator {
		display: block;
		border: none;
		height: 1px;
		background: -webkit-gradient(
			radial,
			50% 50%,
			0,
			50% 50%,
			350,
			from($light),
			to(rgba(255, 255, 255, 0))
		);
		margin: 2rem 0;
	}

	.mii-cc {
		font-size: 0.8rem;
	}
}
