.mii-footer-touch {
	.mii-social {
		padding-bottom: 3rem;
		.mii-msg {
			padding-top: 0.5rem;
			padding-bottom: 1rem;
			font-size: 1.2rem;
			font-family: "Montserrat", sans-serif;
			font-weight: 900;
			text-transform: uppercase;
		}

		a {
			margin: 0 25px;

			font-size: 3rem;
		}
	}

	.mii-misc {
		.home {
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
			letter-spacing: 2px;
			text-decoration: none;
		}
	}
}
