.AboutHere {
	&-dialog {
		padding: 0 0 4rem 0;

		@include breakpoint(medium down) {
			padding: 0 0 1rem 0;
		}
	}

	// Btn case specific for only one button
	// see CVSection Style for 2 and more
	&-button {
		display: flex;

		.button {
			width: 45%;
			margin: 20px auto;

			@include breakpoint(small only) {
				width: 280px;
			}

			@include breakpoint(medium only) {
				width: 50%;
			}
		}
	}
}
