.Intro {
	background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");

	.Avatar-picture {
		width: 192px;
		border-radius: 50%;

		@include breakpoint(small only) {
			display: block;
			margin: 0 auto;
		}
	}

	.Quote {
		margin: auto 0 auto 1.5rem;
		font-family: "chalk", cursive;
		color: rgba(256, 256, 256, 0.8);
		font-size: 1.5rem !important;
		q {
			font-size: 3rem !important;
		}
		p {
			padding-top: 3rem;
		}

		@include mobile {
			margin: auto 0;

			q {
				font-size: 1.8rem !important;
			}
			p {
				font-size: 1.2rem;
				padding-top: 1.5rem;
			}
		}
	}
	.Section {
		&-svg {
			margin-top: 0px;
			display: flex;
			justify-content: center;
			fill: $spec;

			.overflow {
				fill: $light;
			}
		}
	}
}
