.Likes {
	.Section-svg {
		fill: $spec;

		.overflow {
			fill: $light;
		}
	}

	&-grid {
		margin-left: 0;
	}
}

@include breakpoint(large) {
	.Likes-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 1.5rem;

		.Like {
			border-radius: calc(1 / 2);
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: $light;
			background-color: unset;
			height: 170px;
			overflow: hidden;
			text-align: center;
			border: 1px solid $light;

			.Like-img {
				position: absolute;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				transition: 0.5s all ease;
				background-size: cover;
				width: 100%;
				top: 50%;
				margin: auto;
				z-index: 1;
				filter: grayscale(1);
			}

			.Like-span {
				padding: 0 20px 0 20px;
			}

			&:hover {
				.Like-img {
					top: 200%;
				}
			}
		}

		.Like.isStart {
			color: $light;
			background: none;
			box-shadow: none;
			border: 1px solid $light;

			// Element Specific Override
			&.ob-title {
				margin-bottom: 0;
			}
		}
	}

	@include breakpoint(large only) {
		.Likes-grid {
			.Like {
				max-height: 170px;
			}
		}
	}

	@include breakpoint(xxlarge only) {
		.Likes-grid {
			.Like {
				max-height: 240px;
			}
		}
	}
}
@include breakpoint(medium down) {
	.Likes-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 1.5rem;

		@include breakpoint(small only) {
			grid-template-columns: repeat(1, 1fr);
		}

		.Like {
			position: relative;
			display: flex;
			color: $light;
			background-color: $dark;
			height: 170px;
			overflow: hidden;
			border: 1px solid $light;

			@media screen and (max-width: 496px) {
				max-height: 140px;
			}

			&:nth-child(2n) {
				text-align: right;

				@include breakpoint(small only) {
					text-align: center;
				}
			}

			&:nth-child(2n + 1) {
				text-align: left;

				@include breakpoint(small only) {
					text-align: center;
				}
			}

			.Like-img {
				position: absolute;
				transform: translateY(-50%);
				top: 50%;
				width: 100%;
				filter: grayscale(1);
			}

			.Like-span {
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				width: 100%;
				height: 100%;
				padding: 20px 20px 20px 20px;
				background-color: rgba(14, 20, 40, 0.5);

				@include breakpoint(small only) {
					justify-content: center;
				}
			}
		}
		.Like.isStart {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			color: $light;
			background: none;
			box-shadow: none;
			padding: 20px 20px;
			border: 1px solid $light;

			@include breakpoint(small only) {
				justify-content: center;
			}

			// Element Specific Override
			&.ob-title {
				margin-bottom: 0;
			}
		}
	}
}
