.Nav {
	@include breakpoint(medium down) {
		display: none;
	}

	list-style: none;
	padding: 0;
	margin: auto 0;

	display: flex;
	flex-direction: row;
	justify-content: end;

	li {
		min-width: 5rem;

		.ob-link {
			/* Override */
			font-family: font-map(title);
			text-transform: uppercase;
			font-size: 0.825rem;
			text-align: center;

			padding: 10px 10px;
			display: block;

			&.catched {
				position: relative;
				&::after {
					position: absolute;
					content: "";
					top: 100%;
					left: 0;
					width: 100%;
					height: 3px;
					border: 2px solid var(--generic-accent);
				}
			}

			svg {
				display: block;
				margin: 0 auto 8px;
				font-size: 1.5rem;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
