.HeaderDesktop {
    .Nav {
        @include breakpoint(medium down) {
            display: none;
        }
        .ob-link {
            /* Override */
            font-family: font-map(title);
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 0 0 20px;

            &:first-child {
                margin-left: 0;
            }

            @include hoverDashesEffect();
        }
    }
}
