.CVBanner {
	position: relative;
	z-index: 0;
	background-color: #000000 !important;
	background-image: url("https://www.transparenttextures.com/patterns/noisy-grid.png");

	&-container {
		right: 0;
		left: 0;
		height: calc(100% - 64px);
		padding-top: 64px;

		@include breakpoint(medium) {
			margin: 0 auto;
			@include xy-grid(horizontal, false);
		}

		@include breakpoint(small only) {
			@include xy-grid(vertical, false);
		}
	}

	&-blaze {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.75;

		@include breakpoint(medium) {
			width: 40%;
			@include xy-cell-base(4);
		}
		@include breakpoint(small only) {
			margin-top: 10px;
			@include xy-cell-base(grow);
		}
	}

	&-title {
		@include xy-grid(vertical, false);

		@include breakpoint(medium) {
			margin-top: auto;
			margin-bottom: auto;
			text-align: center;
			@include xy-cell-base(auto);
			@include breakpoint(large) {
				padding: 1rem 1rem;
				margin-left: 3rem !important;
				background-color: hsla(202, 100%, 11%, 0.75);
			}
		}
		@include breakpoint(small only) {
			text-align: center;
			@include xy-cell-base(full);
		}

		/* OVERRIDE */
		.ob-title {
			font-size: 3.5rem;
			font-weight: 700 !important;
			margin-bottom: 0;

			@include breakpoint(small only) {
				font-size: 2rem;
			}

			&.isLittle {
				font-size: 2.5rem;
				margin-bottom: 2rem;
	
				@include breakpoint(small only) {
					font-size: 1.2rem;
					margin-bottom: 1rem;
				}
			}
		}

		/* OVERRIDE */
		.ob-subtitle {
			font-size: 1.3rem;
			font-weight: 300;

			@include breakpoint(small only) {
				font-size: 1rem;
				margin-bottom: 2rem;
			}
		}

		.Button {
			margin: 30px auto 0 auto;

			@include breakpoint(small only) {
				margin: 0 0 30px auto;
			}
		}
	}
}

/* MEDIA DEBUG PROPERTIES */

img {
	// width: 0 !important;
	// height: 0 !important;
	max-width: none !important;
	max-height: none !important;
}
