.Experiences {
    background-color: color-map(background, secondary);
    &-content {
        @include xy-grid(vertical, false);
        @include breakpoint(medium) {
            padding-top: 3rem;
        }
        .Fields {
            justify-content: center;
            list-style-type: none;
            margin-left: 0;

            @include breakpoint(medium) {
                @include xy-grid(horizontal, false);
            }
            @include breakpoint(small only) {
                @include xy-grid(vertical, false);
            }

            &-entry {
                font-size: 120%;
                padding: 10px 0;
                text-align: center;
                color: color-map(text);
                border-bottom: 1px solid color-map(text);

                transition: 0.3s all ease;
                -webkit-transition: 0.3s all ease;

                @include breakpoint(medium down) {
                    @include xy-cell(auto);

                    & > li {
                        height: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                @include breakpoint(large) {
                    @include xy-cell(4);
                }

                &:hover,
                &:focus,
                &:active {
                    outline: none;
                    color: color-map(theme, primary);
                    border-bottom: 1px solid color-map(theme, primary);
                }
            }
        }

        .Jobs {
            margin: 2.5rem 0;

            &-entries {
                transition: 0.3s all ease;
                -webkit-transition: 0.3s all ease;

                &.isHidden {
                    display: none;
                }

                &.isVisible {
                    display: block;
                }

                .Entry {
                    margin-bottom: 2rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid color-map(neutral, grey-500);
                    &-dates,
                    &-name {
                        font-family: font-map(title), sans-serif;
                    }

                    &-dates {
                        margin-bottom: 0;
                    }

                    &-name {
                        font-weight: 700;
                        font-size: 120%;
                        margin-bottom: 0;
                    }

                    &-company {
                        font-weight: 700;
                        font-size: 120%;
                    }

                    &-description {
                        .Para {
                            margin-bottom: 0.3rem;

                            &:nth-child(1) {
                                font-weight: 700;
                            }

                            @include breakpoint(medium down) {
                                display: none;

                                &:first-child {
                                    display: list-item;
                                }
                            }
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
