.Experiences {
	background-color: color-map(background, darker);
	&-content {
		@include xy-grid(vertical, false);
		@include breakpoint(medium) {
			padding-top: 3rem;
		}
		.Fields {
			justify-content: center;
			list-style-type: none;
			margin-left: 0;

			@include breakpoint(medium) {
				@include xy-grid(horizontal, false);
			}
			@include breakpoint(small only) {
				@include xy-grid(vertical, false);
			}

			&-entry {
				margin: 1rem 1rem;
				border: 1px solid color-map(theme, primary);
				background-color: color-map(theme, primary);

				-ms-transform: rotate(1.25deg);
				-webkit-transform: rotate(1.25deg);
				transform: rotate(1.25deg);

				transition: 0.3s all ease;
				-webkit-transition: 0.3s all ease;

				@include breakpoint(medium only) {
					@include xy-cell-base(grow);
				}
				@include breakpoint(large) {
					@include xy-cell(4);
				}

				&:hover,
				&:focus,
				&:active {
					outline: none;
					border: 1px solid color-map(theme, secondary);
					background-color: color-map(theme, secondary);

					-ms-transform: rotate(-1.25deg);
					-webkit-transform: rotate(-1.25deg);
					transform: rotate(-1.25deg);

					.onCover {
						transition: 0.3s all ease;
						-webkit-transition: 0.3s all ease;
						color: color-map(theme, secondary);
						border: 1px solid color-map(theme, secondary);

						-ms-transform: rotate(1.25deg);
						-webkit-transform: rotate(1.25deg);
						transform: rotate(1.25deg);
					}
				}

				.onCover {
					-ms-transform: rotate(-1.25deg);
					-webkit-transform: rotate(-1.25deg);
					transform: rotate(-1.25deg);

					margin: unset;
					padding: 0.5rem 0;
					color: color-map(theme, primary);
					border: 1px solid color-map(theme, primary);
					background-color: color-map(background, darker);
					z-index: 0;
					position: relative;
					transition: 0.3s all ease;
					-webkit-transition: 0.3s all ease;
					cursor: pointer;
					font-family: "Montserrat", sans-serif;
					font-weight: 700;
				}

				&:nth-child(2n) {
					-ms-transform: rotate(-1.25deg);
					-webkit-transform: rotate(-1.25deg);
					transform: rotate(-1.25deg);

					.onCover {
						-ms-transform: rotate(1.25deg);
						-webkit-transform: rotate(1.25deg);
						transform: rotate(1.25deg);
					}

					&:hover,
					&:focus,
					&:active {
						-ms-transform: rotate(1.25deg);
						-webkit-transform: rotate(1.25deg);
						transform: rotate(1.25deg);

						.onCover {
							-ms-transform: rotate(-1.25deg);
							-webkit-transform: rotate(-1.25deg);
							transform: rotate(-1.25deg);
						}
					}
				}
			}
		}

		.Jobs {
			margin: 2.5rem 0;

			&-entries {
				transition: 0.3s all ease;
				-webkit-transition: 0.3s all ease;

				&.isHidden {
					display: none;
				}

				&.isVisible {
					display: block;
				}

				.Entry {
					margin-bottom: 2rem;
					padding-bottom: 1rem;
					border-bottom: 1px solid color-map(neutral, grey-500);
					&-dates,
					&-name {
						font-family: "Montserrat", sans-serif;
					}

					&-dates {
						margin-bottom: 0;
					}

					&-name {
						font-weight: 700;
						font-size: 120%;
						margin-bottom: 0;
					}

					&-company {
						font-weight: 700;
						font-size: 120%;
					}

					&-description {
						.Para {
							margin-bottom: 0.3rem;

							&:nth-child(1) {
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}
}
