.Skills {
	background-color: color-map(background, darker);
	&-container {
		@include breakpoint(medium only) {
			margin: 0 auto 1rem auto;
		}
	}
	&-programmingLanguages {
		&-subtitle {
			position: relative;
			z-index: 1;

			margin: 30px 0 30px 0;
			padding: 0.5rem 0;

			color: color-map(text);

			font-weight: 700;

			@include breakpoint(small only) {
				display: flex;
				align-items: center;
				position: -webkit-sticky;
				position: sticky;
				border-bottom: 1px solid color-map(neutral, grey-200);
				background-color: color-map(background, darker);
				width: 100%;
				height: 60px;
				top: 64px;
			}
			@include breakpoint(medium) {
				font-family: "Montserrat", sans-serif !important;
				text-align: center;

				margin-left: 0.9375rem;
				@include breakpoint(medium only) {
					width: calc(50% - 1.875rem);
				}
				@include breakpoint(large) {
					width: calc(33% - 1.875rem);
				}

				&::before {
					position: absolute;
					z-index: -1;
					content: " ";
					width: calc(100% + 4px);
					height: 100%;
					left: -2px;
					top: 0;
					border: 1px solid color-map(theme, primary);
					background-color: color-map(theme, primary);
					-ms-transform: rotate(1.5deg);
					-webkit-transform: rotate(1.5deg);
					transform: rotate(1.5deg);
				}

				&::after {
					position: absolute;
					z-index: -1;
					content: " ";
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					border: 1px solid color-map(theme, primary);
					background-color: color-map(background, darker);
				}
			}
		}
	}
	&-general {
		margin: 0 auto;
		@include breakpoint(medium) {
			@include xy-grid(horizontal, true);
		}
		.Entry {
			list-style-type: none;
			margin-left: 0;

			@include breakpoint(medium) {
				@include xy-gutters($gutter-position: left right);
				@include breakpoint(medium only) {
					@include xy-cell(6);
				}
				@include breakpoint(large) {
					@include xy-cell(4);
				}
			}

			&-subtitle {
				position: relative;
				z-index: 1;
				margin: 10px 0;

				color: color-map(text);
				font-weight: 700;

				@include breakpoint(small only) {
					display: flex;
					align-items: center;
					width: unset;
					position: -webkit-sticky;
					position: sticky;
					border-bottom: 1px solid color-map(neutral, grey-200);
					background-color: color-map(background, darker);
					width: 100%;
					height: 60px;
					top: 64px;
				}

				@include breakpoint(medium) {
					text-align: center;
					padding: 0.5rem 0 !important;
					font-family: "Montserrat", sans-serif;

					&::before {
						position: absolute;
						z-index: -1;
						content: " ";
						width: calc(100% + 4px);
						height: 100%;
						left: -2px;
						top: 0;
						border: 1px solid color-map(theme, primary);
						background-color: color-map(theme, primary);
						-ms-transform: rotate(1.5deg);
						-webkit-transform: rotate(1.5deg);
						transform: rotate(1.5deg);
					}

					&::after {
						position: absolute;
						z-index: -1;
						content: " ";
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						border: 1px solid color-map(theme, primary);
						background-color: color-map(background, darker);
					}
				}
			}

			&-list {
				list-style-type: none;
				margin: 0.5rem 0;
				.Item {
					@include breakpoint(small only) {
						display: flex;
						align-items: center;
						min-height: 60px;
						border-bottom: 1px solid color-map(neutral, grey-700);
					}

					padding: 0.1rem 0;
				}
			}
		}
	}
	&-english {
		@include breakpoint(medium) {
			margin-left: 0.9375rem;
			@include breakpoint(medium only) {
				width: calc(50% - 1.875rem);
			}
			@include breakpoint(large) {
				width: calc(33% - 1.875rem);
			}
		}
		&-subtitle {
			position: relative;
			z-index: 1;

			margin: 10px 0;
			padding: 0.5rem 0;

			color: color-map(text);

			font-weight: 700;

			@include breakpoint(small only) {
				display: flex;
				align-items: center;
				position: -webkit-sticky;
				position: sticky;
				border-bottom: 1px solid color-map(neutral, grey-200);
				background-color: color-map(background, darker);
				width: 100%;
				height: 60px;
				top: 64px;
			}

			@include breakpoint(medium) {
				font-family: "Montserrat", sans-serif !important;
				text-align: center;

				&::before {
					position: absolute;
					z-index: -1;
					content: " ";
					width: calc(100% + 4px);
					height: 100%;
					left: -2px;
					top: 0;
					border: 1px solid color-map(theme, primary);
					background-color: color-map(theme, primary);
					-ms-transform: rotate(1.5deg);
					-webkit-transform: rotate(1.5deg);
					transform: rotate(1.5deg);
				}

				&::after {
					position: absolute;
					z-index: -1;
					content: " ";
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					border: 1px solid color-map(theme, primary);
					background-color: color-map(background, darker);
				}
			}
		}
		&-level {
			margin: 1rem 0;
			font-weight: 700;
		}
		&-certifications {
			list-style-type: none;
			margin: 0;
			font-weight: 700;
		}
	}
}
