@charset "UTF-8";

/* The import order has to be respected */
/* 1. FOUNDATION IMPORT */
@import "foundation-sites/scss/foundation.scss";
@include foundation-everything;

/* 2. CUSTOM BUILD CLASS IMPORT */
@import "./tools/all";

/* 3 COMPONENTS AND PAGES STYLE IMPORT */
@import "./components/all";
@import "./pages/all";

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    color: color-map(text);
    background-color: color-map(background, dark);

    font-family: font-map(paragraph), sans-serif;

    /* FOUNDATION UTILITIES OVERRIDE */

    // TO REMOVE SOON

    .grid-container {
        max-width: 62.5rem;
    }

    /* THEME CONFIGURATIONS
	 */

    /* CSS CUSTOM DECORATIVE OBJECTS
	 */

    .ob-title {
        font-family: "Montserrat", sans-serif; // it overrides the foundation font rule

        @include breakpoint(large) {
            font-size: 300%;
        }
        @include breakpoint(medium only) {
            font-size: 200%;
        }
        @include breakpoint(small only) {
            font-size: 150%;
        }

        &.isPrimary {
            position: relative;
            margin-bottom: 3rem;

            font-weight: 700;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: calc(100% + 15px);
                width: 100px;
                height: 5px;
                background-color: color-map(theme, primary);

                /* LEFT or RIGHT parameter to specify for each title */
            }
        }

        &.isSecondary {
            margin-bottom: 3rem;
            font-weight: 700;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 120%;
                width: 100px;
                height: 5px;
                background-color: color-map(theme, secondary);

                /* LEFT or RIGHT parameter to specify for each title */
            }
        }
    }

    .ob-subtitle {
        /* H3 */
        margin-bottom: 0.5rem;
        font-family: "Montserrat", sans-serif; // it overrides the foundation font rule
        font-weight: 700;
        font-size: 120%;

        @include breakpoint(small only) {
            font-size: 110%;
        }
    }

    .ob-link {
        color: inherit;
        -webkit-transition: color 0.3s ease !important;
        transition: color 0.3s ease !important;

        &:hover,
        &:focus {
            color: color-map(theme, primary);
            -webkit-transition: color 0.3s ease !important;
            transition: color 0.3s ease !important;
        }
    }

    /* SPECIAL PARAMETERS */

    .isContainer {
        @include xy-grid-container();
    }

    /* CUSTOM SECTIONS */

    .isWrapper {
        padding-top: 6rem;
        padding-bottom: 6rem;

        @include breakpoint(medium down) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }
}
